@import "tailwindcss";

@theme {
	--color-primary: black;
	--color-background: darkgray;
	--color-secondary: gray;
	--color-tertiary: lightgray;
	--color-accent: darkblue;
	--color-highlight: blue;
}

@layer base {
	body {
		@apply text-tertiary;
	}
}

@layer components {
	h1 {
		@apply text-2xl font-bold;
	}

	nav {
		@apply bg-primary flex justify-between items-center px-16;
	}

	nav ul {
		@apply flex gap-8;
	}

	.navLink {
		@apply border-b-4 border-transparent py-8 text-lg transition-colors duration-200;
	}

	.navLink:hover {
		@apply text-white;
	}
}
